test/wb-homa-test
*.deb
*/debian/files
*.build
*.changes
*.dsc
*/core.*
*.tar.gz
*.debhelper.log
*.debhelper
*/debian/*.substvars
.d
build

# Binaries
wb-homa-gpio

# Visual Studio Code
.vscode
debian/wb-homa-gpio
debian/wb-mqtt-gpio
debian/tmp
debian/files
debian/debhelper-build-stamp
debian/wb-homa-gpio.substvars
wb-mqtt-gpio
wb-mqtt-gpio-test
*.substvars
.clang-format

### direnv ###
.direnv
.envrc
