[Unit]
Description=MQTT Driver for GPIO-controlled switches
Wants=wb-hwconf-manager.service wb-modules.service
After=network.target wb-hwconf-manager.service wb-modules.service

[Service]
Type=simple
Restart=on-failure
RestartSec=1
User=root
ExecStart=/usr/bin/wb-mqtt-gpio
ExecStartPre=/usr/lib/wb-mqtt-gpio/generate-system-config.py
RestartPreventExitStatus=2 3 4 5 6 7

[Install]
WantedBy=multi-user.target
Alias=wb-homa-gpio.service
